 
<% @page_title = "Sign This" %>

<div class="row">
    <div class="container">

        <div class="col-xs-12 col-sm-2 left-pannel affix">
            <h4>Common</h4>
            <hr>
            <input type="button" class="btn btn-info" value="Signature">

        </div>
        <div class="col-xs-12 col-sm-10 right-pannel">
           <img src="/assets/croped-img.png" class="img-border" width="100%" height="100%" />
           <img src="/assets/croped-img.png" class="img-border" width="100%" height="100%" />
       </div>

   </div>
</div>


<%= link_to "Payments", payments_path %>