.signature-wrapper
  width: 200px
  text-align: center
  .signature-box
    width: 200px
    height: 80px
    border: 2px solid #3077ad
    border-right: 0px
    +border-radius(5px)
    padding: 5px

  .signature-date-placeholder
    background: #fff
    +border-radius(5px)
    color: #f00
    display: block
    font-size: 10px
    margin-left: 10px
    position: relative
    padding: 5px
    top: -10px
    width: 185px
    z-index: 999